/* Simple css for slideshow */

html {
  padding: 0px; margin: 0px;
}

.wrapper {
  width: 720px;
  margin: 20px auto;
}

#slideshow {
  width: 600px;
  overflow: hidden;
  height: 300px;
  border: 0px solid red;
  margin-top: 0px;
}

#frame {
  width: 1800px;
  height: 400px;

}

#frame div img {
  width: 600px;
  float: right;
}

.pointers,
#slideshow {
  float: left;
}

.pointers {
  width: 50px;
}