/* Simple css for slideshow */

html {
  padding: 0px; margin: 0px;
}

ul, .left-align {
  text-align: left;
}

.wrapper {
  position: relative;
  width: 640px;
  margin: 40px auto;
  clear: both;
  border: 0px solid purple;
}

#slideshow {
  
  width: 598px;
  overflow: hidden;
  height: 300px;
  border: 2px solid black;
  margin: 0px 20px;
}

.arrow-prev {
  position: absolute;
  top: 120px;
  left: -3px;
}

.arrow-next {
  position: absolute;
  top: 120px;
  right: -5px;
}

#frame {
  width: 1800px;
  height: 400px;

}



#frame div img {
  width: 600px;
  float: right;
  margin-left: 1800px;
}

.pointers,
#slideshow {
  float: left;
}

.pointers {
  width: 50px;
}

.clear {
  clear: both;
}

#about-text {
  border: 0px solid green;
  clear: both;
  width: 600px;
  margin: 0px auto;
}

#about-text p {
  margin-top: 30px;
}

#frame .slidewrapper {
  position: relative;
}

#frame .spanwrapper {
  position: relative;
    top: 100px;
  margin-left: 1200px;
  margin-top: -20px;

  width: 600px;
  border: 4px solid purple;
}